
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: inherit !important;
}

#review-add-btn{
  background-color:#FF8000;
  color: white;
  cursor:pointer;
  display:block;
  margin:50px auto 50px auto;
  width: 30%;
}

.review-user{
  font-weight: bold;
}

.detail-rating-location-box{
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom:30px;
}

.detail-location{
  float: right;
  margin: 0px;
}

.detail-rating-box{
  float: left;
}

.detail-description-box{
  width:70%;
  margin:auto;
}

.detail-header{
  font-size:50px;
}

.detail-background-pane{
  background-color: #fffaf5;
}

.detail-pane{
  width:50%;
  padding:30px;
  margin:30px auto;
  background-color:white;
}

.restaurant-delete-btn{
  background-color:#ffe8e8 !important;
  width:100% !important;
}

#restaurant-add-model-confirm{
  background-color:#FF8000;
  color: white;
}

#restaurant-add-model{
  width: 30%;
  min-width: 300px;
}

#restaurant-add-btn{
  background-color:#FF8000;
  color: white;
  position: fixed;
  bottom: 40px;
  left: 30px;
  cursor:pointer;
}

.restaurant-page{
  height:100%
}

.restaurant-grid-header{
  margin-bottom:30px;
}

.restaurant-grid{
  padding:30px 100px;
  height:100%;
  background-color:#fffaf5;
}

a:hover .restaurant-card {
    cursor: pointer;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

.restaurant-card-rating{
  margin-top:10px;
}

.restaurant-card-rating-label{
  margin-left:10px;
  display: inline-block;
}

.banner-logo-link{
  cursor:pointer;
}

.banner-user-label{
  display:inline-block;
}

.banner-user-label-group{
  float:right;
  margin-top: 5px;
  margin-right:30px;
}

.login-header{
  text-align: center;
}

.login-banner-logo{
  height:50px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.login-banner{
  height: 64px;
  background-color: white;
  /* border-bottom: 1px solid #D4D4D5; */
}

.login-holder{
  position: relative;
  padding-top: 36px;
}

div > .login-holder > .login-plate{
  background-color: white;
  padding: 32px;
  margin-top: 36px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#login-submit{
  width:100%;
  background-color: #FF8000;
  color:white;
}

.login-action{
  margin-top: 10px;
  width:100%;
  text-align: center;
  display: block;
}

.App{
  background-color: #FBFBFC;
  height:100vh;
  width:100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
