
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-banner-logo{
  height:50px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.login-banner{
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #D4D4D5;
}

.login-holder{
  position: relative;
  padding-top: 36px;
}

div > .login-holder > .login-plate{
  background-color: white;
  padding: 32px;
  margin-top: 36px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.App{
  background-color: #FBFBFC;
  height:100vh;
  width:100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
